StackOverflow\backend\node_modules
StackOverflow\backend\package.json
StackOverflow\backend\package-lock.json
StackOverflow\frontend\node_modules
StackOverflow\frontend\package.json
StackOverflow\frontend\package-lock.json
StackOverflow\frontend\node_modules
